services:
  db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ikwillerencoderen156
      POSTGRES_DB: aar_comp_2
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./database/init:/docker-entrypoint-initdb.d

  backend:
    build: 
      context: ./backend-AAR
      dockerfile: server/Dockerfile
    container_name: backend-aar
    restart: always
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: ikwillerencoderen156
      DB_NAME: aar_comp_2
      DB_PORT: 5432
    depends_on:
      - db

volumes:
  pgdata:


