version: '3.9'

services:
  db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ikwillerencoderen156
      POSTGRES_DB: AAR_COMP_2
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend-AAR/server
    container_name: backend-aar
    restart: always
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: ikwillerencoderen156
      DB_NAME: AAR_COMP_2
      DB_PORT: 5432
    depends_on:
      - db

volumes:
  pgdata:


