/* General body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Form container */
form {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 350px;
}

/* Headings */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

h2{
    text-align: end;
    color:#0056b3;
    margin-bottom: 30px;
}

/* Labels */
label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #555;
}

/* Text input fields */
input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Textarea height */
textarea {
  height: 100px;
  resize: vertical;
}

/* button */
button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #c52f2f;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
button:hover {
  background-color: #0056b3;
}

/* ik weet nog even niet wat dit precies is */
p {
      font-size: 18px;
      margin-top: 20px;
    }

  /* menu met meerdere inputs*/
  ul {
      display: contents;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
}
