<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/style.css">
    <head>
        <title> Compatibility between tanker and receiver</title>
    </head>
    <body>
        <h1>
            Here you can check the compatibility between tanker and receiver
        </h1>


        <form action="/search" method="POST">
            <label>Tanker Nation:</label>
            <input type="text" name="tankerNation" required>

            <label>Tanker Type:</label>
            <input type="text" name="tankerType" required>

            <label>Tanker Model:</label>
            <input type="text" name="tankerModel" required>

            <label>Receiver Nation:</label>
            <input type="text" name="receiverNation" required>

            <label>Receiver Type:</label>
            <input type="text" name="receiverType" required>

            <label>Receiver Model:</label>
            <input type="text" name="receiverModel" required>

            <button type="submit">Search</button>
        </form>
                <nav>
            <a href="/hello">hello</a>
        </nav>  
        <nav>
            <a href="/tables/tankers">tankers</a>
        </nav>
        <nav>
            <a href="/tables/receivers">tankers</a>
        </nav>

        <ul>  
            <li><a href="/admin">Log in</a></li>
            <li><a href="/form">Form</a></li>
            <li><a href="/home">Home</a></li>
        </ul>
    </body>
</html>