<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/style.css">
    <head>
        <title> Compatibility between tanker and receiver</title>
    </head>
    <body>
        <h1>
            Here you can check the compatibility between tanker and receiver
        </h1>

        <nav>
            <a href="/hello">hello</a>
        </nav>
        <h2>Enter Text in Two Fields</h2>
        <form action="/submit" method="POST">
            <label for="input1">Tanker nation: </label>
            <input type="text" id="input1" name="input1" placeholder="Tanker nation">
            <label for="input2">Receiver nation: </label>
            <input type="text" id="input2" name="input2" placeholder="receiver nation">
           
           
            <label for="input3">Tanker model: </label>
            <input type="text" id="input3" name="input3" placeholder="Tanker type">
            <label for="input4">Receiver model: </label>
            <input type="text" id="input4" name="input4" placeholder="Receiver type">
            <button type="submit">Submit</button>
        </form>

        <ul>  
            <li><a href="/admin">Log in</a></li>
            <li><a href="/form">Form</a></li>
            <li><a href="/home">Home</a></li>
        </ul>
    </body>
</html>
